{% extends 'index.html' %}


{% block title %}
    Вхід | Студмістечко
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s4 offset-s4">
                <div class="valign-wrapper full-screen-height">
                    <div class="card-panel">
                        <p class="flow-text center">Увійти</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div style="display:none">
                                <input type="password" tabindex="-1"/>
                            </div>
                            <p>
                                <label for="id_username">Ім&#39;я користувача:</label>
                                <input type="text" name="username" autofocus required id="id_username" value="{{ request.POST.username }}">
                            </p>
                            <p>
                                <label for="id_password">Пароль:</label>
                                <input type="password" name="password" required id="id_password">
                            </p>

                            <p class="center">
                                <button class="btn" type="submit">Увійти</button>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}