{% extends 'index.html' %}


{% block title %}
    Додати запис | Студмістечко
{% endblock %}


{% block content %}
    <nav class="dashboard-nav">
        <div class="nav-wrapper">
            <ul class="left">
                <li><a id="close-or-back" href="javascript:"><i class="material-icons">arrow_back</i></a></li>
            </ul>
            <ul class="right">
                <li><a id="add-locality-nav-btn" target="_blank" href="javascript:">Додати наслений пункт<i
                                class="material-icons right">add</i></a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">Вийти - {{ request.user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">

            <div class="col s12">
                <div class="card-panel">
                    <p class="flow-text center">Додати запис</p>

                    {% include 'person_form.html' %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block script %}
     <script>
         $(document).ready(function () {

             function getBookNumbers() {
                 getValuesById('id_book_number');
             }

             function getHostels() {
                 getValuesById('id_hostel');
             }

             function getPasportysts() {
                 getValuesById('id_pasportyst');
             }

             function getCountries() {
                 getValuesById('id_country');
             }

             function getRegions(params = {}) {
                 getValuesById('id_region', params);
             }

             function getDistrict(params = {}) {
                 getValuesById('id_district', params);

                 $('#id_district').append('<option value="-1">Не застосовується</option>')
                 ;
             }

             function getLocality(params = {}) {
                 getValuesById('id_locality', params);
             }

             function getTypeLocalities() {
                 getValuesById('id_type_locality');
             }

             function getBooks(params = {}) {
                 getValuesById('id_book', params);
             }

             function listenForHostelChange() {
                 $("#id_hostel").change(function () {
                     getBooks({hostel_id: $(this).val()});
                 });
             }

             function listenForCountryChange() {
                 $("#id_country").change(function () {
                     getRegions({country_id: $(this).val()});
                 });
             }

             function listenForRegionChange() {
                 $("#id_region").change(function () {
                     getDistrict({region_id: $(this).val()});
                 });
             }

             function listenForDistrictChange() {
                 $("#id_district").change(function () {
                     if ($(this).val())
                         getLocality({district_id: $(this).val(), region_id: $('#id_region').val()});
                 });
             }

             function listenForTLChange() {
                 $("#id_type_locality").change(function () {
                     if ($(this).val())
                         getLocality({
                             district_id: $('#id_district').val(),
                             region_id: $('#id_region').val(),
                             type_locality_id: $(this).val()
                         });
                 });
             }

             function listenNcapitalize(field) {
                 $(field).on('keyup', function () {
                     $(this).capitalize();
                 }).capitalize();
             }

             function listenForIdCard() {

                 $('input[type=radio][name=id_passport]').change(function () {
                     $input = $('#id_unique_number');
                     if (this.value == '0') {
                         $input.removeAttr('disabled');
                         $($input.parent()).show();
                     } else if (this.value == '1') {
                         $input.attr('disabled', 'disabled');
                         $input.val('');
                         $($input.parent()).hide();
                     }
                 });
             }


             function listenForAddLocalityBTN() {
                 $("#add-locality-nav-btn").click(function () {
                     var new_window = PopupCenter("{% url 'add_locality' %}", 'Додати населений пункт', 'height=400, width=800');
                     var timer = setInterval(function () {
                         if (new_window.closed) {
                             if (confirm("Очистити поля для народження?"))
                                getCountries();

                             clearInterval(timer);
                         }
                     }, 1000);
                 });
             }


             function initPage() {

                 {% if person.locality is None %}
                     getCountries();
                     getTypeLocalities();
                 {% endif %}

                 listenForHostelChange();
                 listenForIdCard();
                 listenForCountryChange();
                 listenForRegionChange();
                 listenForDistrictChange();
                 listenForTLChange();

                 listenNcapitalize('#id_name');
                 listenNcapitalize('#id_surname');
                 listenNcapitalize('#id_patronymic');

                 listenFormSubmit('#person_form_id');

                 listenForAddLocalityBTN();


             }

             initPage();
         });
     </script>
 {% endblock %}